.grid {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.grid__row {
  display: flex;
}

.grid__node {
  background-color: white;
  height: 1em;
  width: 1em;
  border: 1px solid black;

  &.start {
    background-color: green;
  }

  &.finish {
    background-color: red;
  }

  &.wall {
    background-color: black;
  }

  &.path {
    background-color: aqua;
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  &.visited {
    background-color: violet;
    animation-name: visitedAnimation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
}

// .grid__node {
//   width: 25px;
//   height: 25px;
//   border: 1px solid rgb(175, 216, 248);
//   display: inline-block;
//   background-color: white;
// }

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
