@import "../../styles/variables";
@import "../../styles/mixins";

.fieldset-radio-group {
    input {
        margin-right: 0.5em;
    }

    label {
        margin-right: 2em;
    }

    legend {
        display: block;
        height: 2em;
    }
}