$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$primary-color: #0f4c5c;
$secondary-color: #f2cc8f;
$background-color: #f8f9fa;
$danger-color: #ab5757;
$success-color: #2a9d8f;
$muted-color: #b7b7b7;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;


// sort visualizer
$default-color: #0f4c5c;
$compare-color: #e76f51;
$swap-color: #ffc300;
$sorted-color: #2a9d8f;
$pivot-color: #8f2d56;
