@import "../../styles/mixins";
@import "../../styles/variables";

.grid-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;

  @include md-max {
    padding-top: 2.5em;
  }
}

.grid-toolbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  &__button {
    @include button(transparent);
    // border: 1px solid $secondary-color;
    width: 90px;
    padding: 0.2em;
    font-size: 0.9em;

    &.selected {
      background-color: $secondary-color;
    }

  
  }
    #clear {
      @include button(transparent);   
      width: min-content;
      padding: 0.1em 0.4em;
      color: $danger-color;
    }
}

.grid {
  margin: 1em;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-bottom: 1px solid black;

}

.grid__row {
  display: flex;
  justify-content: center;
}

.grid__node {
  background-color: $background-color;
  height: 1.25em;
  width: 1.25em;
  border-right: 1px solid black;
  border-top: 1px solid black;
  transition: background-color 0.3s ease-out;

  &.start {
    background-color: rgb(8, 91, 55);
  }

  &.finish {
    background-color: rgb(8, 91, 55);
  }

  &.wall {
    background-color: $main-color-1;
  }

  &.weight {
    background-color: $main-color-5;
  }

  &.path {
    background-color: $main-color-4;
  }

  &.visited {
    background-color: $main-color-3;
    animation-name: visitedAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
  }
}


@keyframes visitedAnimation {
  0% {
    background-color: #feda64;
  }

  100% {
    background-color: $main-color-3;
  }
}