@import "../../styles/variables";
@import "../../styles/mixins";

.controls-container {
    position: relative;
    background-color: $background-color;
    display: flex;
    padding: 0 1em 0.5em;
    overflow-y: hidden;

    @include md-max {
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: 2em;
        left: 0;
        z-index: 10;
        border-right: none;
        border-bottom: 1px solid black;
       
        height: 60%;
    transition: all 0.3s ease-in-out;
      
        &.closed {
            height: 50px;    transition: all 0.3s ease-in-out;
         
        }
    }
}

.controls {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-color;
    width: 300px;
    gap: 1.5em;

    @include md-max {
        transition: all 0.3s ease-in-out;
        height: 100%;
        margin-top: 10px;
    }

    &__toggle {
        text-align: center;
        margin-left: auto;
        width: min-content;
        height: 2.2em;
        font-size: 16px;
        opacity: 100% !important;
    }

    &__item {
        background-color: inherit;
        margin-bottom: 1em;
    }

    >.disabled {
        color: $muted-color;
        border-color: $muted-color;

        button {
            background-color: $muted-color;
        }
    }

}