@import "../../styles/variables";
@import "../../styles/mixins";

.controls-container {
    background-color: $background-color;
    padding: 0.5em 1em;
    width: 100%;

    & button {
        color: black;
        min-height: 2em;
        padding: 0.25em 0.5em;
    }

    & input[type=range] {
        margin: 1.3em 0;
    }

    @include md-max {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        position: absolute;
        padding-top: 2.5em;
        top: 0em;
        left: 0;
        z-index: 100;
        border-right: none;
        border-bottom: 1px solid black;

        &.closed {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: height 0.3s ease-in-out;
            border-bottom: none;
        }
    }
}

.controls {
    position: relative;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color: $background-color;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;

    @include md-max {
        width: 100%;
    }

    &__toggle {
        position: fixed;
        top: 0.75em;
        right: 1.5em;
        z-index: 10000;
        text-align: center;
        margin-left: auto;
        width: min-content;
        min-height: 2em;
        font-size: 16px;
    }

    &__item {
        background-color: inherit;
        margin-bottom: 1em;
        width: 150px;
    }

    > .disabled {
        color: $muted-color;
        border-color: $muted-color;

        button {
            background-color: $muted-color;
        }

        input {
            background-color: $muted-color;
        }
    }

}