@import "../../styles/variables";
@import "../../styles/mixins";

.controls-container {
    position: relative;
    background-color: $background-color;
    display: flex;
    padding: 0.5em 1em;
    overflow-y: auto;

    & button {
        color: black;
    }

    @include md-max {
        width: 100%;
        flex-direction: column;
        position: absolute;
        padding-top: 2.5em;
        top: 0em;
        left: 0;
        z-index: 100;
        border-right: none;
        border-bottom: 1px solid black;
        height: 450px;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;

        &.closed {
            height: 0;
            padding-top: 0;
            padding-bottom: 0;
            transition: all 0.3s ease-in-out;
            border-bottom: none;
        }
    }
}

.controls {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background-color;
    width: 300px;
    gap: 1.5em;

    @include md-max {
        width: 100%;
        transition: all 0.3s ease-in-out;
        height: min-content;
    }

    &__toggle {
        position: fixed;
        top: 0.75em;
        right: 1.5em;
        z-index: 10000;
        text-align: center;
        margin-left: auto;
        width: min-content;
        min-height: 2em;
        font-size: 16px;
    }

    &__item {
        background-color: inherit;
        margin-bottom: 1em;
    }

    > .disabled {
        color: $muted-color;
        border-color: $muted-color;

        button {
            background-color: $muted-color;
        }

        input {
            background-color: $muted-color;
        }
    }

}