.nav {
    position: absolute;
    top: 0.75em;
    left: 1.5em;
    width: 100px;
    z-index: 10;
}

.navbar {
    align-self: center;
    min-height: 2em; 
    display: flex;
    justify-content: start;
    align-items: center;
}