@import "../../../styles/mixins";

.main {
    min-width: 280px;
    margin: 0 auto;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include md-max {
        flex-direction: column;
        gap: 1em;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}