@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&family=Roboto:wght@300&display=swap');
$background-color: #f4f1de;
$primary-color: rgb(100, 124, 190);
$small-device: 768px;
$disabled-color: gray;

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
}

body {
  background-color: $background-color;
}

div,
body,
main,
header,
h1,
h2,
h3,
p,
span {
  padding: 0;
  margin: 0;
}

.sorting-visualizer {
  min-width: 400px;
  margin: 0 auto;
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  padding: 1em;
  gap: 2em;
  justify-content: center;

  @media screen and (max-width: $small-device) {
    flex-direction: column;
    gap: 1em;
  }
}

.controls-container {
  align-self: center;
  border: 1px solid rgb(0, 0, 0);

  @media screen and (max-width: $small-device) {
    width: 100%;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 2em;
  row-gap: 3em;

  >.disabled {
    color: $disabled-color;
  }

  @media screen and (max-width: $small-device) {
    width: 100%;
    align-items: center;
    row-gap: 2em;
  }
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
  }
}

.algorithm-controls {
  &__form div {
    font-family: inherit;

    :focus {
      border: none;
    }
  }

  &__menu {
    font-family: inherit;
  }

  &__item {
    font-family: inherit;
    font-size: 3em;
  }
}

.play-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;

  &__label {
    margin-bottom: 0.5em;
  }

  &__button {
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;

    &:hover {
      opacity: 0.9;
    }
  }
}

.array-controls {
  display: flex;
  flex-direction: column;
  width: 200px;

  &__label {
    display: flex;
    gap: 1em;
    width: 100%;
    color: inherit;
    align-items: center;

    button {
      margin-top: 0.2em;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.speed-controls {
  display: flex;
  flex-direction: column;
  width: 200px;

  &__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em 0;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-label {
      font-size: 1.25em;
    }
  }
}

.array-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  height: 90vh;
  width: 100%;
  max-width: 1500px;
}

.array-bar {
  margin: 0.2%;
  transition: height 0.1s ease-in-out;
  width: 100%;
}


.array-scatter {
  width: 100%;
}

.slider-label {
  display: flex;
  width: 220px;
  margin-left: -5px;
  justify-content: space-between;
}

.MuiSlider {
  &-root {
    height: 4px;
    color: black;
  }

  &-rail,
  &-track {
    height: 3px;
  }

  &-mark {
    height: 15px;
    width: 2px;
  }

  &-markActive {
    background-color: rgb(82, 82, 82);
  }
}

.Mui-disabled {
  color: $disabled-color;
}

.MuiList-root {
  background-color: $background-color !important;
}